<!DOCTYPE html>
<html>

<head>
    <title>
        Home
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='style.css'>

</head>

<body>
	<div>
	    <h1  class="center-block">Trgovina</h1>
	    <input type="button" name="Korisnici" value="Korisnici" class="btn btn-primary" onclick="location.href = '/korisnici';">
	    <input type="button" name="Proizvodi" value="Proizvodi" class="btn btn-primary" onclick="location.href = '/proizvodi';">
	    <input type="button" name="Računi" value="Računi" class="btn btn-primary" onclick="location.href = '/racuni';">
	    <input type="button" name="Zaposlenici" value="Zaposlenici" class="btn btn-primary" onclick="location.href = '/zaposlenici';">
	    <input type="button" name="PDV kategorije" value="PDV kategorije" class="btn btn-primary" onclick="location.href = '/pdvkategorije';">
	    <input type="button" name="Dobavljači" value="Dobavljači" class="btn btn-primary" onclick="location.href = '/dobavljaci';">
	    <input type="button" name="Radna mjesta" value="Radna mjesta" class="btn btn-primary" onclick="location.href = '/radnamjesta';">
	    <input type="button" name="Odjeli" value="Odjeli" class="btn btn-primary" onclick="location.href = '/odjeli';">
	    <input type="button" name="Načini plaćanja" value="Načini plaćanja" class="btn btn-primary" onclick="location.href = '/naciniplacanja';">
	    <input type="button" name="Uloge korisnika" value="Uloge korisnika" class="btn btn-primary" onclick="location.href = '/uloge';">
	    <input type="button" name="Stavke računa" value="Stavke računa" class="btn btn-primary" onclick="location.href = '/stavkeracuna';">

	</div>
</body>
</html>
