form{
        width: 35%;
        margin-left:auto;
        margin-right:auto;
        padding:50px;
        background:whitesmoke;
        border-radius:5px;
        position:relative;
    }

form > div {
        margin-bottom:30px;
    }

form > div > input{
        font-size:12px;letter-spacing:1px;padding:  5px;border: 0;background:  whitesmoke;border-bottom: 1px solid silver;width: 100%;color: gray;
    }
h4 {
	padding-bottom: 20px;
}
.btn {
    margin:10px;
}
h1 {
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 50px;
}
tr {
    text-align: center;
}